__astcache/*
__history/*
__recovery/*
*/__astcache/*
*/__history/*
*/__recovery/*
Computational_Module/__history/*
*.o
*.ico
*.html

# C++Builder environment/project specific files
AppxManifest.template.xml
*.cbproj
*.dsk
*.res
EPLab_Research_Suite*
Win64/*
Win64/

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# CMake
CMakeCache.txt
CMakeFiles
cmake_install.cmake
install_manifest.txt
*.cmake
# ^ May need to add future .cmake files as exceptions

# Test logs
Testing/*

# Test input
test/gtc/*.dds

# Project Files
Makefile
*.cbp
*.user

# Misc.
*.log

# local build(s)
build*

/.vs
/.vscode
/CMakeSettings.json
.DS_Store

